<% if(locals.posts){ %> <% if(!user){ %>
<div class="created-to-view">
  Create an account or sign in to view the details.
  <a href="/sign-up" class="link-blue-bold">Sign up</a> <span>or </span
  ><a class="link-blue-bold" href="/sign-in">Sign in</a>
</div>
<% }else if((user && user.hasMembership) || (user&&user.isAdmin) ){ %>
<%-include('./postForm') %> <% } %> <% posts.forEach((post)=>{ %> <% if(!user){
%> <%post.username='???' %> <% post.created_at='???' %> <% } %>
<div data-message-id="<%=post.id %>" class="post">
  <div class="author">User: <%=post.username %></div>
  <div class="timestamp">Created at <%=post.created_at %></div>
  <div class="title">Title: <%=post.title %></div>
  <div class="message">Message: <%=post.text %></div>
  <% if(user&&user.isAdmin){ %>
  <form action="/posts/delete" method="post">
    <button
      class="delete-post-btn round-btn"
      type="submit"
      name="postId"
      value="<%= post.id%>"
    >
      Delete
    </button>
  </form>
  <% } %>
</div>
<% }) %> <% }else{ %>
<div>No posts available.</div>
<% } %>
