<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clubhouse homepage</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/customProperties.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <%-include('partials/header') %> <% switch(page){ case 'home': %>
    <%-include('partials/home') %> <% break; case 'sign-up': %>
    <%-include('partials/sign-up') %> <% break; case 'membership':%>
    <%-include('partials/membership') %> <% break; case 'unauthorized':%>
    <%-include('partials/unauthorized') %> <% break; case 'posts': %>
    <%-include('partials/posts') %> <% break; case 'sign-in': %>
    <%-include('partials/sign-in') %> <% }%>
  </body>
</html>
